Screen {
    background: #121212;
    color: #d1d1d1;
}

#main-container {
    height: 1fr;
    border-top: tall $primary;
}

#hex-grid {
    width: 75%;
    height: 1fr;
    overflow-y: scroll;
    padding: 1 2;
}

#inspector-panel {
    width: 25%;
    background: $surface;
    border-left: tall $primary;
    padding: 1 2;
}

#inspector-title {
    text-style: bold;
    color: $secondary;
    margin-bottom: 1;
}

.label-sub {
    color: $accent;
    margin-top: 1;
}

/* Row styling */
HexRow {
    height: 1;
    margin: 0;
    padding: 0;
}

HexRow:focus {
    background: $boost;
    text-style: bold;
}
